/* CSS Document */
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.page-view {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
.page-view .project {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.demo-2 {
  background: url(../img/building-sprite.png) no-repeat -9999px -9999px;
}

.demo-2 .page-view {
  background: url(../img/building-sprite-2.png) no-repeat -9999px -9999px;
}

.demo-2 .page-view h1 {
  text-transform: uppercase;
  letter-spacing: 16px;
  font-family: 'adam';
}

@media screen and (max-width: 640px) {
  .demo-2 .page-view h1 {
    letter-spacing: 4px;
  }
}

.demo-2 .page-view .project:nth-child(1) {
  background-image: url(../img/building-1.jpg);
}

.demo-2 .page-view .project:nth-child(2) {
  background-image: url(../img/building-2.jpg);
}

.demo-2 .page-view .project:nth-child(3) {
  background-image: url(../img/building-3.jpg);
}

.demo-2 .page-view .project:nth-child(4) {
  background-image: url(../img/building-4.jpg);
}

.demo-2 .page-view .project:nth-child(odd).hide {
  -webkit-mask: url(../img/building-sprite.png);
          mask: url(../img/building-sprite.png);
  -webkit-mask-size: 7500% 100%;
          mask-size: 7500% 100%;
  -webkit-animation: mask-play 1.4s steps(74) forwards;
          animation: mask-play 1.4s steps(74) forwards;
}

.demo-2 .page-view .project:nth-child(even).hide {
  -webkit-mask: url(../img/building-sprite-2.png);
          mask: url(../img/building-sprite-2.png);
  -webkit-mask-size: 8400% 100%;
          mask-size: 8400% 100%;
  -webkit-animation: mask-play 1.4s steps(83) forwards;
          animation: mask-play 1.4s steps(83) forwards;
}
@-webkit-keyframes mask-play {
  from {
    -webkit-mask-position: 0% 0;
            mask-position: 0% 0;
  }
  to {
    -webkit-mask-position: 100% 0;
            mask-position: 100% 0;
  }
}

@keyframes mask-play {
  from {
    -webkit-mask-position: 0% 0;
            mask-position: 0% 0;
  }
  to {
    -webkit-mask-position: 100% 0;
            mask-position: 100% 0;
  }
}