<!DOCTYPE html>
  <html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Авторизация</title>
        <link rel="icon" type="image/png" href="/style/adm/icons/favicon2.png">
        <link rel="stylesheet" href="/style/css/debug/reset.css">
        <link rel="stylesheet" href="/style/adm/css/sweetalert2.min.css">
        <link rel="stylesheet" href="/style/adm/css/auth.css">
      </head>
    
    
    <body>
      <div id="background"></div>
      <div id="back"></div>
  
      <script src="/js/jquery-3.4.0.min.js"></script>
      <script src="/js/adm/jquery.form.min.js"></script>
      <script src="/js/adm/core.min.js"></script>
      <script src="/js/adm/sweetalert2.min.js"></script>
      <script src="/js/adm/auth.js"></script>
    </body>
  </html>
  