/** Projects  */
    /** Same  */
h3.block-tittle {
    font-size: calc(22px + 0.5vw);
    font-weight: 600;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2.1px;
    word-spacing: -1.9px;
    text-transform: uppercase;
    color: #2B2B2B;
}

.block {
    table-layout: fixed!important;
    margin-bottom: 65px;
    max-height: 380px;
}

.zoom {
    visibility: hidden;
    animation-duration: 1s;
}

.zoom.animated{
    visibility: visible;
}

.block .col{
    position: relative;
}

.char_cont {
    height: 46px;
    width: auto;
    display: inline-flex;
    position: absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.сhar_text {
    z-index: 1;
    font-size: 14px;
    font-family: 'Noto Sans', 'Helvetica', sans-serif;
    line-height: 17px;
    letter-spacing: 0.2px;
    color: #fff;
    white-space: nowrap;
    padding: 0 14px;
}

.сhar_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #0378D7;
    opacity: 0.8;
    left: 0px;
    top: 0px;
}

.blockimg {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
}

.block_offset1 {
    width: 60px;
}

.block_offset3 {
    width: 65px;
}

.block_text_cont{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    min-width: 530px;
}

.block_text_title {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: calc(18px + 0.5vw);
    letter-spacing: 0.5px;
    word-spacing: 2.4px;
    line-height: calc(23px + 0.5vw);
}

h3.block-tittle span{
    color: #0378D7;
}

.block_text, .block_text2 {
    padding-top: 8px;
    font-size: calc(10px + 0.42vw);
    line-height: calc(13px + 0.42vw);
}

.block_text ul li {
    list-style-type: disc;
    margin-left: 33px;
}

.block_text p {
    margin-left: 15px;
    padding-top: 18px;
    line-height: 18px;
}

.block_text2 p:not(:first-child) {
    padding-top: 18px;
}

.block_text2 p {
    margin-left: 15px;
    line-height: 18.5px;
}

    /** block1  */
#block1, #block5 {
    height: calc(210px + 10vw);
}

div#block5.row.block {
    margin-bottom: 9px;
}

div#block5.row.block .col .blockimg.bg {
    background: url(/img/content/block5_light.png) no-repeat center center / cover, #2a555e;
    background: url(/img/content/block5_light.png) no-repeat center center / cover, -webkit-linear-gradient(to right, #2a555e, #05704e);
    background: url(/img/content/block5_light.png) no-repeat center center / cover, linear-gradient(to right, #05704e, #2a555e);
    display: flex;
    justify-content: center;
    align-items: center;
}

div#block5.row.block .col .blockimg.bg img.rellax{
    width: initial;
    height: 100%;
    bottom: 0;
    position: inherit;
    min-width: initial;
}

 #block1 .col .blockimg,  #block5 .col .blockimg {
    background-size: 100% calc(210px + 10vw);
    background-position: center top;
}

.char_cont.char_block1 {
    bottom: 14px;
    left: 0px;
    border-bottom: 2px solid #fff;
}

    /** block2  */
#block2 {
    height: calc(210px + 12vw);
}

#block2 .col .blockimg {
    background-size: 100% calc(230px + 14vw);
    background-position: center;
}

.char_cont.char_block2 {
    top: 14px;
    right: 0px;
    border-bottom: 2px solid #fff;
}
    /** block3  */
#block3 {
    margin-bottom: 24px;
    height: 14vw;
    display: none;
    min-height: 184px;
}


#block3_1_cont, #block3_2_cont, #block3_2_cont {
    position: relative;
}

.block_text_right{
    padding-left: 46px;
}

.block_text_left{
    padding-right: 46px;
}

.block_text_left, .block_text_right {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}

.block3_1 .bg, .block3_2 .bg, .block3_3 .bg {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    min-height: 184px;
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
}

.block3_1, .block3_3 {
    width: 34%;
}

#block3_1_cont, #block3_2_cont{
    margin-bottom: 24px;
}

div#block3_2_cont{
    position: relative;
    height: 24.3vw;
}

div#block3_2_cont .bg{
    background-size: 120% 95%;
}

div#block3_1_cont, div#block3_3_cont{
    position: relative;
    height: 20vw;
}

#block3_1_cont .block3_1, #block3_2_cont .block3_2, #block3_3_cont .block3_3 {
    display: table-cell;
}

.block3_2 {
    width: 50%;
}

.bg_cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

div#block4_1,div#block4_2,div#block4_3 {
    width: 30%;
}

.col.block_offset3 {
    min-width: 65px;
}

#block4 {
    height: calc(210px + 10vw);
    text-align: center;
}

div#block4 .bg {
    width: 12vw;
    height: 21vw;
    background-size: 100% 100%;
    min-width: 240px;
    min-height: 400px;
    background-repeat: no-repeat;
}


#block4 .block_text_title {
    padding-bottom: 20px;
    white-space: nowrap;
}

div#block4_text {
    padding-bottom: 18px;
    margin-left: -15px;
}

/** Carousel start  */

@media (min-width: 30em) {
    #products-top { table-layout: fixed!important }
}

#products-top .tabs .tab a .product-top-icon .sub-icon path.nocar, 
#products-top .tabs .tab a .product-top-icon .sub-icon ellipse.nocar, 
#products-top .tabs .tab a .product-top-icon .sub-icon .Sublight.nocar {
    stroke: none;
}

.owl-dots {
    text-align: center;
    position: absolute;
    bottom: -15px;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.owl-carousel .owl-stage-outer .owl-stage .owl-item {
     -webkit-transform: translate3d(0, 0, 0); 
     -moz-transform: translate3d(0, 0, 0); 
     -ms-transform: none; -o-transform: translate3d(0, 0, 0); 
     transform: none;
     z-index: -1;
}

.owl-carousel button.owl-dot {
    border-radius: 50px;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    background: #c3c3c3!important;
}

.owl-carousel button.owl-dot.active {
    background: #548ddd!important;
}

.product-arrow path.cls-1 {
    transition: all 0.4s ease-out;
    fill: #c3c3c3;
}

.product-arrow.arrow-right svg.arrow {
    transform: scaleX(-1);
}

.product-arrow:hover svg.arrow .cls-1, .view-icon.active svg.icon {
    transition: all 0.4s ease-out;
    fill: #0378D7;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    top: -8px;
    height: 100%;
    position: absolute;
}

.owl-carousel .owl-nav button.owl-next {
    right: -20px;
}

.owl-carousel .owl-nav button.owl-prev {
    left: -20px;
}


#tabs_content{
    display: none;
}

#products-top ul.tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    /*height: 128px;*/
    white-space: normal;
    background: inherit;
}

#products-top ul.tabs li.tab.col {
    min-width: 130px;
    word-wrap: break-word;
    text-align: center;
    height: 20px;
}

.top-item-text {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #2B2B2B;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

.top-item-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-top-text {
     /*max-width: 130px;*/
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Noto Sans', 'Helvetica', sans-serif;
    line-height: 1.2;
    word-spacing: 0px;
    letter-spacing: 1px;
}

.carousel_text {
    font-size: calc(12.5px + 0.21vw);
    line-height: calc(15px + 0.21vw);
    margin-top: 42px;
}

#products-top .tabs .tab a {
    color: #2B2B2B;
    /*max-width: 189px;*/
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.2;
    word-spacing: 0px;
    letter-spacing: 1px;
    white-space: initial!important;
    text-transform: capitalize;
}

#products-top .tabs .tab a.active, #products-top .tabs .tab a:hover {
    color: #0378D7;
}

#products-top .tabs .tab .product-top-icon {
    overflow: hidden;
    width: 76px;
    height: 64px;
    margin: 10px auto;
}

.owl-carousel {
    transition: all 0.5s ease;
}

#products-top .tabs .tab a .product-top-icon .sub-icon .Counter {
    fill: #727272;
    transition: all 0.4s ease-out;
}

#products-top .tabs .tab a .product-top-icon .sub-icon .Sublight:not(.nocar){
    stroke: #727272;
    stroke-width: 1.2;
    transition: all 0.4s ease-out;
}

#products-top .tabs .tab a.active .product-top-icon .sub-icon .Counter,
#products-top .tabs .tab a:hover .product-top-icon .sub-icon .Counter {
    fill: #0378D7;
    transition: all 0.4s ease-out;
}

#products-top .tabs .tab a.active .product-top-icon .sub-icon .Sublight:not(.nocar),
#products-top .tabs .tab a:hover .product-top-icon .sub-icon .Sublight:not(.nocar) {
    stroke: #0378D7;
    fill: #fff;
    stroke-width: 1.2;
    fill-opacity:0;
    stroke-opacity:1;
    transition: all 0.4s ease-out;
}

#products-top .tabs .tab .product-top-icon .sub-icon .Sublight{
    fill-opacity:0;
    stroke-opacity:1;
    fill: #fff;
}

#products-top .tabs .tab .product-top-icon .sub-icon .Light{
    opacity:0;
    fill: #fff;
}


.top-item-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    width: 220px;
    height: 200px;
    padding: 20px;
}


/** Carousel end  */


.col.tear-offset {
    min-width: 80px;
    width: 10%;
}

header {
    height: 32vw!important;
    min-height: 440px;
}

#products-top h3.block-tittle {
    font-size: calc(18px + 1vw);
    line-height: 110%;
    font-weight: 600;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2B2B2B;
}

#products-top h3.block-tittle span {
    color: #0378D7;
}


#tiles {
    min-height: 688px;
    height: 80vh;
    table-layout: fixed;
}

#tiles .col .tile-group-left-top {
    height: 50%;
}


.parallax-container {
    position: relative;
    overflow: hidden;
    height: inherit;
    min-height: 500px;
}

.tear-wrapper1{
    z-index: 1;
    display: block;
    background: #000;
}

.layer-bg {
    min-height: 500px;
}

#night, #light{
    top: 76px;
    left: 45px;
}

#night {
    opacity: 1;
    z-index: 2;
}

#light {
    z-index: 1;
    opacity: 1;
}

img.rellax {
    width: 46%;
    min-width: 575px;
    height: auto;
    bottom: 0;
    position: absolute;
}

.tear {
    height: 36.5vw;
    min-height: 500px;
    width: 100%;
    background: #fffefc;
}

.tear_img{
    position: relative;
}

.rellax.layer-tear {
    background-position: center center;
    background-size: contain;
    min-height: 500px;
}

.tear_bg.container {
    height: 36.5vw;
    min-height: 500px;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.tear-shape-top, .tear-shape-bottom {
    width: 100%;
    position: absolute;
    z-index: 4;
    left: 0;
    display: block;
}

.tear-shape-top {
    top: -2px;
}

.tear-shape-bottom {
    bottom: -2px;
}

.company-text-wrapper {
    position: absolute;
    color: #fff;
    height: inherit;
    width: inherit;
    min-width: 1200px;
    table-layout: fixed;
}

.tile-text span p {
    font-size: calc(12px + 0.2vw);
}

.link-to-catalog {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 26px;
    padding: 0 14px;
    color: #0378D7;
}



.col.company-text p {
    min-width: 480px;
}

.col.company-text {
    font-size: calc(12.5px + 0.21vw);
    line-height: calc(15px + 0.21vw);
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 500px;
    z-index: 2;
    position: relative;
}

.col.company-text p {
    padding-bottom: 16px;
}

.col.company-text ul {
    padding-left: 18px;
}

.col.company-text ul li {
    list-style-type: square!important;
}

.top-item-bottom {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

.btn-small {
    width: 220px;
}

#tabs_content{
    display: none;
}

#right-text {
    width: 100%;
    height: inherit;
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: calc(18px + 1.4vw);
    color: #fff;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(1, 76, 124, 0.8);
    min-height: 500px;
}

#right-text .animated{
    opacity: 0;
    display: none;
    padding: 20px;
}

.col.right-text-wrap {
    position: relative;
    width: 50%;
    height: inherit;
}

div#board {
    width: 50%;
}

.top-item-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-group-left2{
    height: 50%;
}

.tile-row-offset {
    height: 17px;
}

.left-tile-col-offset, .tile-col-offset {
    width: 17px;
}

#tile4 {
    height: 47.3%;
    margin-top: 5px;
}

#tile5 {
    height: 38%;
}

#tile6 {
    height: 60%;
}

#tiles .col .tile-group-left-top .tile-group-left1, 
#tile3 {
    height: 48.5%;
    table-layout: fixed;
}

.tile-background {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    background-size: cover;
}

#tile1 .tile-background.display_img, 
#tile2 .tile-background.display_img, 
#tile5 .tile-background.display_img, 
#tile6 .tile-background.display_img {
    background-position: center top;
}   


#tile3 .tile-background.display_img, 
#tile4 .tile-background.display_img  {
    background-position: center;
}

.tile {
    width: 100%;
    height: 100%;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0);
}

.tile-title {
    height: 46px;
    width: auto;
    padding: 0 14px;
    font-size: 18px;
    font-family: 'Noto Sans', 'Helvetica', sans-serif;
    font-weight: 700;
    color: #fff;
    background: #0378D7;
    display: inline-flex;
    align-items: center;
    border-bottom: 2px solid #fff;
    position: absolute;
    white-space: nowrap;
}

.title-left{
    top: 14px;
    left: 0;
}

.title-bottom-left{
    bottom: 14px;
}

.title-right{
    top: 14px;
    right: 0;
}

.tile-text {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(251, 251, 251, 0.92);
    z-index: 4;
    position: absolute;
    overflow: hidden;
    border: 2px solid #0378D7;
    opacity: 0;
    font-family: 'Noto Sans', 'Helvetica', sans-serif;
}

.tile-text span {
    padding: 20px 20px;
    word-spacing: normal;
    letter-spacing: 0.6px;
    line-height: 20px;
}

.text-block p {
    word-spacing: normal;
    letter-spacing: 0.6px;
    font-size: 16px;
    line-height: 20px;
}

.content-image{
    height: 100%;
    position: relative;
}

.layer-lamp {
    background-position: left 20px top 0;
    background-size: contain;
    background-image: url(/img/content/lamp_site2.png);
    z-index: 1;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    div.row.block#block5 .col .blockimg.bg img.rellax {
        width: 26%;
        height: auto;
        position: relative;
        min-width: 0px;
    }

    .tile{
        display: inline-block !important;
    }

    #tile4{
        height: 46.8%;
    }

    #tile6{
        top: -4px
    }

    .tear_img{
        position: initial;
    }
    

    .tear_bg.container, .block_text_cont, .blockimg, .block_text_left, .block_text_right, .block3_1 .bg, .block3_2 .bg, .block3_3 .bg {
        position: relative;
    }

    .parallax-container, .layer-bg, .tear, .rellax.layer-tear, .tear_bg.container, .col.company-text {
        min-height: 600px;
    }

    #right-text {
        min-height: 500px;
    }

}

@media screen and (max-width: 1600px) {
    .block_text, .block_text2 {
        letter-spacing: -0.2px;
    }
}

@media screen and (max-width: 1400px) {
    .col.tear-offset {
        min-width: 80px;
        width: 6.3%;
    }

    #night, #light {
        top: 73px;
    }

    #block1, #block5 {
        height: calc(210px + 7vw);
    }

    div#block2 {
        height: calc(210px + 10vw);
    }

    #block2 .col .blockimg {
        background-size: 100% calc(230px + 12vw);
        background-position: center bottom;
    }

    .block_offset1 {
        width: 40px;
    }

    .block_offset3 {
        width: 45px;
    }

    .block {
        margin-bottom: 45px;
    }

    #block3{
        display: table;
    }

    #block3_1_cont .block3_1, #block3_2_cont .block3_2, #block3_3_cont .block3_3 {
        display: none;
    }

    .block_text_left, .block_text_right {
        padding: 0px;
        display: table-cell;
        position: relative;
    }

    div#block3_1_cont, div#block3_2_cont, div#block3_3_cont {
        width: 100%;
        height: 15vw;
    }

    div#block3_2_cont .bg {
        background-size: 100% 100%;
    }

    .block3_1, .block3_3 {
        width: 23.5%;
    }
}

@-moz-document url-prefix() {
    .tear_bg.container {
        top: 0;
    }

    #tiles .col .tile-group-left-top .tile-group-left1 {
        width: 100.7%;
    }

    #right_tile_group .tile-row-offset{
        height: 21px;
    }

    #tile4 {
        height: 47.05%;
        margin-top: 11px;
    }

     #tile2 .title-right{
        right: 0px;
    }

    .tile-col-offset {
        width: 21px;
    }

    .title-right {
        right: -2px;  
    }
}