{% extends '/templates/main.tmpl' %}

{% block hero %}
    <div class="parallax-container">
		<div class="rellax layer-bg layer-board2" style="background-image: url(/img/backgrounds/contacts.jpg); background-position: top center;" data-parallaxify-background-range-y="300"></div>
    </div>
{% endblock %}

{% block content %}
<section class="row">		
	<div class="col content-offset"></div>
	<div class="col center" style="height:700px">
		<div class="row top-offset"></div>
		Раздел в стадии разработки
	</div>
	<div class="col content-offset"></div>
</section>
{% endblock %}