{% extends '/templates/main.tmpl' %}

{% block hero %}
	<div class="parallax-container">
		<div class="rellax layer-bg layer-board2" style="background-image: url(/img/backgrounds/offices_night.jpg); background-position: top center;" data-parallaxify-background-range-y="300"></div>
	</div>
{% endblock %}

{% block content %}
<section class="row">
	<div class="col content-offset"></div>
	
	<div class="col center">
		
		<h3 class="block-tittle zoom">Сборные световые <span>объемно—декоративные</span> конструкции</h3>
		
		<div id="block1" class="row block">
			<div class="col zoom">
				<div class="char_cont char_block1">
					<div class="сhar_text">
						<p><b>Характеристики:</b></p>
						<p>4,6x6,9x5,2 м</p>
					</div>
					<div class="сhar_bg"></div>
				</div>
				<div data-bg="url(/img/content/block1.jpg)" class="blockimg display_img"></div>
			</div>

			<div class="col block_offset1"></div>

			<div class="col zoom">
				<div class="block_text_cont">
					<div class="block_text_title">Арка №4 (трехкомпонентная)</div>
					<div class="block_text">
						<ul>
							<li>Сварной каркас из металлических труб разного диаметра</li>
							<li>Лампы белого холодного свечения</li>
							<li>Гирлянда длиной 4,5 м</li>
							<li>Гирлянда анимированная капля «Комета», длина 1 м</li>
							<li>Гирлянда белого теплого свечения с мерцанием длиной 15 м</li>
							<li>Декор в виде голубых, белых шаров различных диаметров</li>
							<li>Снежинки размером 25 см</li>
							<li>Шнур световой белого теплого свечения диаметром 12 мм</li>
						</ul>
						<p>Для монтажа, подключения и бесперебойной работы в комплекте идут: кабель питания, соединители, заглушки, коробки распаячные, сальники, фиксаторы, трансформаторы, адаптеры, удлинители.</p>
						<p><b>Цена от:</b> 49 млн. рублей</p>
					</div>
				</div>
			</div>
		</div>

		<div id="block2" class="row block">
			<div class="col zoom">
				<div class="block_text_cont">
					<div class="block_text_title">Арка №5 (трехкомпонентная)</div>
					<div class="block_text">
						<ul>
							<li>Сварной каркас из металлических труб разного диаметра</li>
							<li>Мини-гирлянды «Букет» в форме шара</li>
							<li>Гирлянда анимированная капля «Комета»</li>
							<li>Гирлянда белого теплого свечения с мерцанием длиной 15 м</li>
							<li>Анимированные снежинки размером 25 см</li>
							<li>Гирлянда анимационная 80 см</li>
							<li>Подвесные гирлянды «Звездочка»</li>
							<li>Складывающаяся сфера с гирляндой, диаметром 90 см</li>
							<li>Шнур световой белого теплого свечения, диаметром 12 мм</li>
						</ul>
						<p>Для монтажа, подключения и бесперебойной работы в комплекте идут: кабель питания, соединители, заглушки, коробки распаячные, сальники, фиксаторы, трансформаторы, адаптеры, удлинители.</p>
						<p><b>Цена от:</b> 46 млн. рублей</p>
					</div>
				</div>
			</div>

			<div class="col block_offset1"></div>

			<div class="col zoom">
				<div class="char_cont char_block2">
					<div class="сhar_text">
						<p><b>Характеристики:</b></p>
						<p>5,3x9,0x6,4 м</p>
					</div>
					<div class="сhar_bg"></div>
				</div>
				<div data-bg="url(/img/content/block2.jpg)" class="blockimg display_img"></div>
			</div>
		</div>

		<div id="block3" class="row block">
			<div class="col block3_1 zoom">
				<div class="char_cont">
					<div class="сhar_text"><p>№6</p></div>
				</div>
				<div data-bg="url(/img/content/block3_1.jpg)" class="bg display_img"></div>
			</div>
			<div class="col block_offset3"></div>
			<div class="col block3_2 zoom">
				<div class="char_cont">
					<div class="сhar_text"><p>№9</p></div>
				</div>
				<div data-bg="url(/img/content/block3_2.jpg)" class="bg display_img"></div>
			</div>
			<div class="col block_offset3"></div>
			<div class="col block3_3 zoom">
				<div class="char_cont">
					<div class="сhar_text"><p>№8</p></div>
				</div>
				<div data-bg="url(/img/content/block3_3.jpg)" class="bg display_img"></div>
			</div>
		</div>

		<div id="block3_1_cont" class="row block">
			<div class="col block3_1 zoom">
				<div data-bg="url(/img/content/block3_1.jpg)" class="bg display_img"></div>
			</div>

			<div class="col zoom"> 
				<div class="block_text_right">
					<div class="block_text_title">Арка №6</div>
					<div class="block_text2">
						<p>Арка четырехкомпонентная состоящая из:<br/>
						сварной каркас из металлических труб разного диаметра, гирлянда анимированная капля «Комета», длина 1 м, гирлянда белая теплая с мерцанием длиной 15 м, шнур световой белый теплого свечения, диаметром 12 мм, декор в виде голубых, белых шаров различных диаметров, гирлянда «Звезда» "снежинка" 25 см.</p>
						<p>Для монтажа, подключения и бесперебойной работы в комплекте идут:<br/>
						кабель питания, соединители, заглушки, коробки распаячные, сальники, фиксаторы, трансформаторы, адаптеры, удлинители</p>
						<p><b>Характеристики:</b> 5,6x7,2x6,3 м<br/>
						<b>Цена от:</b> 58 млн. рублей</p>
					</div>
				</div>  
			</div>
		</div>

		<div id="block3_2_cont" class="row block">
			<div class="col zoom"> 
				<div class="block_text_left">
					<div class="block_text_title">Арка №9</div>
					<div class="block_text2">
						<p>Арка однокомпонентная состоящая из:<br/>
						сварной каркас из металлических труб разного диаметра, гирлянда с эффектом "стекания" 50 см, декор в виде золотых шаров различных диаметров, светодиодные лампы белого холодного свечения, гирлянда с эффектом "стекания" 80 см, гирлянда белая теплая с мерцанием длиной 15 м, гирлянда анимированная капля «Комета», длина 1 м, шнур световой белого теплого свечения, диаметром 12 мм.
						<p>Для монтажа, подключения и бесперебойной работы в комплекте идут:<br/>
						кабель питания, соединители, заглушки, коробки распаячные, сальники, фиксаторы, трансформаторы, адаптеры, удлинители</p>
						<p><b>Характеристики:</b> 4,0x1,6x10,0 м<br/>
						<b>Цена от:</b> 18 млн. рублей</p>
					</div>
				</div>  
			</div>

			<div class="col block3_2 zoom">
				<div data-bg="url(/img/content/block3_2.jpg)" class="bg display_img"></div>
			</div>
		</div>

		<div id="block3_3_cont" class="row block">
			<div class="col block3_3 zoom">
				<div data-bg="url(/img/content/block3_3.jpg)" class="bg display_img"></div>
			</div>
			<div class="col zoom"> 
				<div class="block_text_right">
					<div class="block_text_title">Арка №8</div>
					<div class="block_text2">
						<p>Арка туннель состоящая из:<br/>
						алюминиевого каркаса, декор в виде золотого ковра в шт - 0,40 х3м, гирлянда анимированная капля «Комета» длиной 1 м, декор в форме звезд зеркальных различных размеров, гирлянда белая холодного свечения с мерцанием длиной 15 м, гирлянда белая теплая с мерцанием длиной 15 м, шнур световой белый теплый, диаметром 12 мм.
						<p>Для монтажа, подключения и бесперебойной работы в комплекте идут:<br/>
						кабель питания, соединители, заглушки, коробки распаячные, сальники, фиксаторы, трансформаторы, адаптеры, удлинители</p>
						<p><b>Характеристики:</b> 3,5x6,0x5,0 м<br/>
						<b>Цена от:</b> 27 млн. рублей</p>
					</div>
				</div>
			</div>
		</div>

		<h3 class="block-tittle zoom">Конструкции <span>для опор</span> освещения</h3>
		<div id="block4_text" class="row zoom">
			<div class="block_text2">
				<p><b>Материалы:</b> Каркас из алюминия, светодиодные гирлянды, гирлянда с анимационным эффектом «Комета», световой шнур.<br/>
				<b>Характеристики:</b> 2,0x0,9 м<br/>
				<b>Цена от:</b> 900 тыс. рублей</p>
			</div>
		</div>
		<div id="block4" class="row block">
			<div id="block4_1" class="col zoom">
			   	<div class="block_text_title">Кронштейн на опоре<br/>«Морозный узор», тип 1</div>
				<div class="bg_cont">
					<div data-bg="url(/img/content/block4_1.jpg)" class="bg display_img"></div>
				</div>
			</div>

			<div class="col block_offset3" style="width: 5%;"></div>

			<div id="block4_2" class="col zoom">
				<div class="block_text_title">Кронштейн декоративный<br/>«Морозный узор», тип 4</div>
				<div class="bg_cont">
					<div data-bg="url(/img/content/block4_2.jpg)" class="bg display_img"></div>
				</div>
			</div>

			<div class="col block_offset3" style="width: 5%;"></div>

			<div id="block4_3" class="col zoom">
				<div class="block_text_title">Кронштейн на опоре<br/>«Горн», тип 1</div>
				<div class="bg_cont">
					<div data-bg="url(/img/content/block4_3.jpg)" class="bg display_img"></div>
				</div>
			</div>

		</div>
		<h3 class="block-tittle zoom">Мультимедийные <span>объемно-декоративные</span> конструкции</h3>
        <div id="block5" class="row block">
            <div class="col zoom">
				<div class="char_cont char_block1">
					<div class="сhar_text">
						<p><b>Характеристики:</b></p>
						<p>2,865х1,500 мм</p>
					</div>
					<div class="сhar_bg"></div>
				</div>
				<div class="blockimg bg">
				    <img class="rellax" src="/img/content/block5.png">
				</div>
            </div>
            <div class="col block_offset1"></div>
   
            <div class="col zoom">
                <div class="block_text_cont">
                    <div class="block_text_title">Конструкция «Пасхальное яйцо»</div>
                    <div class="block_text">
                        <p>
                            <b>Применение:</b> украшение улиц, мероприятий<br/>
                            <b>Материал:</b> полиэфирный стеклопластик, прозрачный атмосферостойкий гелькоут<br/>
                        </p>
                        
            
                        <p>
                            <b>Степень защиты:</b> IP65/IP67<br/>
                            <b>Напряжение:</b> 220В<br/>
                            <b>Входное напряжение:</b> 24 В/110 В/220 В/другие<br/>
                            <b>Номинальная мощность:</b> в завимости от проекта<br/>
                        </p>
                        
                        <p>
                            <b>Цена от:</b> 3,7 млн.рублей<br/>
                            <b>Минимальное количество для заказа:</b> 10<br/>
                            <b>Срок поставки:</b> от 15 дней
                        </p>
            
                    </div>
                </div>    
            </div>
        </div>
        
        <div id="block6" class="row block_text2 zoom">
            <p>Конструкция выполняется из полиэфирного стеклопластика, толщиной не менее 2 мм, с прозрачным атмосферостойким гелькоутом, с добавлением наполнителя. По всей длине окружности в центре конструкции проложен гибкий полиуретановый пояс, окрашенный полиуретановой краской "золото".</p>
            <p>Внутри конструкции установлены 1950 штук герметичных флэш-модулей RGB. Установленный внутри одноплатный микрокомпьютер позволяет установить управляющую программу для отражения на внешней оболочке конструкции и трансляции заданных узоров.</p>
        </div>
	</div>
	<div class="col content-offset"></div>
</section>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
			$('.zoom').viewportChecker({
				classToAdd: 'animated',
				callbackFunction: function(elem, action){
        			console.log($(elem).attr('id'));
        			$(elem).addClass( "fadeIn" );
    			}
    		});
        });
    </script> 
{% endblock %}